# Archivos de Python
__pycache__/
*.py[cod]
*.pyd
*.db

# Archivos de entornos virtuales
.venv/
env/
venv/

# Archivos de configuración de entorno (variables sensibles)
.env

# Archivos de logs
logs/
*.log

# Archivos específicos de editor y sistema
.vscode/
.DS_Store
Thumbs.db

# Archivos de claves sensibles (como el archivo de clave de Firebase)
firebase_key.json
firebase_key_test_prod.jsonc

# Archivos generados por Docker
*.pid

# Docker
docker-compose.yml

#Reinicio
reiniciar-bot.txt