# Archivos de Python
__pycache__/
*.py[cod]
*.pyd
*.db

# Archivos de entornos virtuales
.venv/
env/
venv/

# Archivos de configuración de entorno (variables sensibles)
.env

# Archivos de logs
logs/
*.log

# Archivos específicos de editor y sistema
.vscode/
.DS_Store
Thumbs.db

# Archivos JSON migrados a Firestore (comentados por historial)
# data.json
# datos.json
# tasas_usd.json
# usuarios.json

# Archivos de claves sensibles (como el archivo de clave de Firebase)
firebase_key.json
firebase_key_prod.json

# Archivos generados por Docker
*.pid
